<app-popup name="Add Promotion" color="blue"> 
    <form [formGroup]="promotionForm" class="p-4 md:p-5" (ngSubmit)="onSubmit()">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2 sm:col-span-1">
            <label for="discount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount Percentage</label>
            <input type="number" formControlName="precentage" id="discount" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="9" required="">
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
            <input type="number" formControlName="quantity" id="quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="99" required="">
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
            <select formControlName="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select> 
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product</label>
            <select formControlName="product" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option *ngFor="let product of products" [ngValue]="product">{{ product.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-span-2 sm:col-span-1">
          <label for="datepromo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Promotion Date</label>
          <input
            type="date"
            formControlName="datepromo"
            id="datepromo"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Select Date"
            required
          />
        </div>
        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
          Add new Promotion
        </button>
      </form>
      
</app-popup>
  <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">ID</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Product Category</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Product</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Quantity</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Discount</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">End Promo</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Status</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-center leading-4 text-blue-500 tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                    <tr *ngFor="let promotion of promotions">
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm leading-5 text-gray-800">{{ promotion.id }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ promotion.categorie.name }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">{{ promotion.produit.name }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 text-center border-gray-500 text-sm leading-5">{{ promotion.quantity }}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 text-center border-gray-500 text-sm leading-5">{{ promotion.reduction }}%</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                            <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                            <span aria-hidden class="absolute  bg-green-200 opacity-50 rounded-full"></span>
                            <span class="relative text-xs">{{ promotion.datepromo }}</span>
                        </span>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">{{ promotion.statut }}</td>
                        <td class="px-6 py-4 flex justify-between text-right border-b border-gray-500 text-sm leading-5">
                            <button (click)="deletePromotionConfirmation(promotion.id)" class="px-5 py-2 border-red-500 border text-red-500 rounded transition duration-300 hover:bg-red-700 hover:text-white focus:outline-none">Delete</button>
                            <app-popup [isEditForm]="true" (populateUpdateForm)="populateUpdateForm(promotion)" name="edit" color="blue">
                              <form [formGroup]="promotionUpdateForm" class="p-4 md:p-5" (ngSubmit)="onUpdate()">
                                <input type="hidden" formControlName="id" id="promotionId">
                                <div class="grid gap-4 mb-4 grid-cols-2">
                                  <div class="col-span-2 sm:col-span-1">
                                    <label for="discount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount Percentage</label>
                                    <input type="number" formControlName="precentage" id="discount"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="9" required="">
                                  </div>
                                  <div class="col-span-2 sm:col-span-1">
                                    <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                    <input type="number" formControlName="quantity" id="quantity"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                      placeholder="99" required="">
                                  </div>
                                  <div class="col-span-2 sm:col-span-1">
                                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                    <select id="categorySelect" formControlName="category">
                                      <option *ngFor="let category of categories" [ngValue]="category"
                                        [selected]="category.id === promotionUpdateForm.controls['category'].value?.id">
                                        {{ category.name }}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="col-span-2 sm:col-span-1">
                                    <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product</label>
                                    <select formControlName="product">
                                      <option *ngFor="let product of products" [ngValue]="product"
                                        [selected]="product.id === promotionUpdateForm.controls['product'].value?.id">
                                        {{ product.name }}
                                      </option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                  <label for="datepromo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Promotion Date</label>
                                  <input
                                    type="date"
                                    formControlName="datepromo"
                                    id="datepromo"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                    placeholder="Select Date"
                                    required
                                  />
                                </div>
                                <button type="submit"
                                  class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                  <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                      clip-rule="evenodd"></path>
                                  </svg>
                                  Update Promotion
                                </button>
                              </form>

                            </app-popup>
                        </td>
              </tr>
            </tbody>
        </table>
        

        <div class="sm:flex-1 sm:flex sm:items-center sm:justify-between mt-4 work-sans">
  <div>
    <!-- <p class="text-sm leading-5 text-blue-700">
      <span class="font-medium">{{ (currentPage - 1) * pageSize + 1 }}</span>
      to
      <span class="font-medium">{{ Math.min(currentPage * pageSize, promotions?.length || 0) }}</span>
      of
      <span class="font-medium">{{ promotions?.length || 0 }}</span>
      results
    </p> -->
  </div>
  <div>
    <nav class="relative z-0 inline-flex shadow-sm">
      <div>
        <div (click)="prevPage()" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <div>
        <ng-container *ngFor="let page of totalPagesArray">
          <div (click)="goToPage(page)" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium" [class.text-blue-700]="page === currentPage" [class.text-blue-600]="page !== currentPage" [class.hover:bg-tertiary]="page !== currentPage">
            {{ page }}
          </div>
        </ng-container>
      </div>
      <div *ngIf="currentPage < totalPages">
        <div (click)="nextPage()" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10l-3.293-3.293a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </nav>
  </div>
</div>
    </div>
</div>